<link rel="stylesheet" href="~/css/ReservationCard.css" asp-append-version="true" />
<div class="Container">
    <div class="TopSection">
        <div class="DestinationInfo">
            <img alt="Destination Icon" src="~/Icons/Location.png" />
            <span class="DestinationName">Bariloche</span>
        </div>
        <div class="Passengers">
            <img alt="PassengersIcon" src="~/Icons/Crowd.png" />
            <span class="NumberOfPassengers">4</span>
        </div>
    </div>
    
    <hr/>

    <div class="PriceSection">
        <span class="PaidAndTotal">$85.500 / $140.000</span>
        <span class="Debt">$54.500 left</span>
    </div>

    <div class="BottomSection">
        <div>
            <img alt="Departure date icon" src="~/Icons/Luggage.png" />
            <span class="DepartureDate">29/12/2022</span>
        </div>
        <div>
            <span>In <span class="NumberOfDays"> 26 </span> days</span>
        </div>
    </div>

</div>